<nav class="flex flex-row justify-between mb-2">
  <a
    href="/"
    class="text-base sm:text-2xl font-semibold text-gray-800 dark:text-gray-200 p-1"
    >Austin Nazworth</a
  >
  <div
    class="flex flex-row items-start text-sm sm:text-lg text-gray-600 dark:text-gray-300 space-x-2 sm:space-x-2 p-2"
  >
    <a href="/about.html" class="sm:p-2">About Me</a>
    <a href="/projects.html" class="sm:p-2">Projects</a>
    <a href="/contact.html" class="sm:p-2">Contact</a>
    <a href="https://www.github.com/anazworth" class="hidden sm:block px-2">
      <div class="w-8 h-8 fill-gray-800 dark:fill-gray-200">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>GitHub</title>
          <path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          />
        </svg>
      </div>
    </a>
    <label for="theme-toggle" class="switch sm:mt-1">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider round"></span>
    </label>
  </div>
</nav>

<script>
  const themeToggle = document.getElementById("theme-toggle");
  themeToggle.checked = localStorage.theme === "dark" ? true : false;
  themeToggle.addEventListener("change", function () {
    if (this.checked) {
      document.documentElement.classList.add("dark");
      localStorage.theme = "dark";
    } else {
      document.documentElement.classList.remove("dark");
      localStorage.theme = "light";
    }
    console.log(localStorage.theme);
  });
</script>

<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: #f0f0e8;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2c3542;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #f0f0e8;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
