---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const contactInfo = [
	{
		name: "Email",
		link: "mailto:austin.nazworth@gmail.com",
	},
	{
		name: "Github",
		link: "https://www.github.com/anazworth",
	},
	{
		name: "LinkedIn",
		link: "https://www.linkedin.com/in/austin-nazworth",
	},
];
---

<Layout title="Austin Nazworth">
	<main class="flex flex-col mb-auto bg-mantle">
		<div class="flex flex-col px-2 py-8 bg-surface0 w-full">
			<div
				class="flex flex-row justify-center group space-x-4 sm:space-x-12 py-4"
			>
				<img
					src="/austin.jpeg"
					alt="Austin Nazworth"
					class="h-72 shadow-xl shadow-mantle sm:group-hover:shadow-2xl transition-shadow duration-500 ease-in-out"
				/>
				<div class="flex flex-col justify-center">
					<h1 id="heroname" class="text-4xl sm:text-7xl font-bold">
						Hi,<br /> I'm Austin
					</h1>
					<p class="text:sm sm:text-xl">Software Engineer</p>
					<h2 class="text-xl sm:text-2xl">
						I'm passionate about building new things and learning
						new skills along the way.
					</h2>
				</div>
			</div>
		</div>
		<div
			class="flex my-12 bg-base justify-center rounded-md outline outline-1 outline-theme-4 max-w-2xl py-4 px-12 m-auto"
		>
			<div class="flex flex-col">
				<h1>Get in touch with me</h1>
				<div class="flex flex-row justify-center text-maroon space-x-4">
					{
						contactInfo.map(({ name, link }) => (
							<a href={link}>{name}</a>
						))
					}
				</div>
			</div>
		</div>
		<img src="/signature.svg" class="h-24 p-4 bg-mantle" />
	</main>
</Layout>
