---
---

<div class="flex justify-center text-peach static bottom-0">
    <h3>
        &copy; <span id="copyright"></span> Austin Nazworth | All Rights Reserved.
    </h3>
</div>

<script>
    document.querySelector("#copyright").textContent = new Date()
        .getFullYear()
        .toString();
</script>
