<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <style>html{visibility: hidden;opacity:0;}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Personal website of Austin Nazworth. Explore my skills, experience, and contributions to the tech community. Let's build something together!" >
    <title>{{ page.title }}</title>
    <link rel="icon" href="assets/img/curryfavicon.ico" type="image/x-icon">
    <link ref="shortcut icon" href="assets/img/curryfavicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" >
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">
    </noscript>
    <style>html {
    visibility: visible;
    opacity: 1;
    }</style>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }

    </script>
  </head>
  <body class="flex flex-col min-h-screen bg-lightbase dark:bg-darkbase max-w-7xl text-center m-auto p-4">
    <script>0</script>
    {% include nav.html %}
      {{ content }}
  </body>
  <footer>
    <span class="text-gray-600">© {{ site.time | date: '%Y'}} Austin Nazworth</span>
  </footer>
</html>
